<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Cleaning-data" data-toc-modified-id="Cleaning-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Cleaning data</a></span><ul class="toc-item"><li><span><a href="#Missing-values" data-toc-modified-id="Missing-values-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Missing values</a></span><ul class="toc-item"><li><span><a href="#Deleting-columns-with-more-than-20%-missing-values" data-toc-modified-id="Deleting-columns-with-more-than-20%-missing-values-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Deleting columns with more than 20% missing values</a></span></li><li><span><a href="#Filtering-only-necessary-columns" data-toc-modified-id="Filtering-only-necessary-columns-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Filtering only necessary columns</a></span></li><li><span><a href="#Deleting-rows-that-have-null-values" data-toc-modified-id="Deleting-rows-that-have-null-values-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Deleting rows that have null values</a></span></li></ul></li><li><span><a href="#Cleaning-price" data-toc-modified-id="Cleaning-price-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Cleaning price</a></span><ul class="toc-item"><li><span><a href="#Deleting-pound-symbol" data-toc-modified-id="Deleting-pound-symbol-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Deleting pound symbol</a></span></li><li><span><a href="#Deleting-comma-from-the-price" data-toc-modified-id="Deleting-comma-from-the-price-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Deleting comma from the price</a></span></li><li><span><a href="#Converting-double-prices-to-average-price" data-toc-modified-id="Converting-double-prices-to-average-price-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Converting double prices to average price</a></span></li><li><span><a href="#Converting-price-to-numeric" data-toc-modified-id="Converting-price-to-numeric-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Converting price to numeric</a></span></li></ul></li><li><span><a href="#Cleaning-average-review-column" data-toc-modified-id="Cleaning-average-review-column-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Cleaning average review column</a></span></li></ul></li><li><span><a href="#Understanding-and-manipulating-data" data-toc-modified-id="Understanding-and-manipulating-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Understanding and manipulating data</a></span><ul class="toc-item"><li><span><a href="#Renaming-columns" data-toc-modified-id="Renaming-columns-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Renaming columns</a></span></li><li><span><a href="#Checking-values-per-column" data-toc-modified-id="Checking-values-per-column-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Checking values per column</a></span><ul class="toc-item"><li><span><a href="#How-many-different-products?" data-toc-modified-id="How-many-different-products?-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>How many different products?</a></span></li><li><span><a href="#How-many-different-manufacturers?" data-toc-modified-id="How-many-different-manufacturers?-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>How many different manufacturers?</a></span></li><li><span><a href="#How-many-different-categories?" data-toc-modified-id="How-many-different-categories?-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>How many different categories?</a></span></li><li><span><a href="#How-many-different-average-reviews?" data-toc-modified-id="How-many-different-average-reviews?-2.2.4"><span class="toc-item-num">2.2.4&nbsp;&nbsp;</span>How many different average reviews?</a></span></li></ul></li><li><span><a href="#Splitting-to-main-and-sub-categories" data-toc-modified-id="Splitting-to-main-and-sub-categories-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Splitting to main and sub categories</a></span></li><li><span><a href="#Changing-types-of-columns-(final-check)" data-toc-modified-id="Changing-types-of-columns-(final-check)-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Changing types of columns (final check)</a></span></li></ul></li><li><span><a href="#Hypothesis-testing" data-toc-modified-id="Hypothesis-testing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Hypothesis testing</a></span><ul class="toc-item"><li><span><a href="#Testing-average-price-in-3-top-categories" data-toc-modified-id="Testing-average-price-in-3-top-categories-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Testing average price in 3 top categories</a></span><ul class="toc-item"><li><span><a href="#Identifying-3-top-selling-categories-and-calculating-their-ave-prices" data-toc-modified-id="Identifying-3-top-selling-categories-and-calculating-their-ave-prices-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Identifying 3 top selling categories and calculating their ave prices</a></span></li><li><span><a href="#Testing-hypothesis" data-toc-modified-id="Testing-hypothesis-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Testing hypothesis</a></span></li></ul></li><li><span><a href="#Testing-ave-number-of-reviews-in-3-top-categories" data-toc-modified-id="Testing-ave-number-of-reviews-in-3-top-categories-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Testing ave number of reviews in 3 top categories</a></span><ul class="toc-item"><li><span><a href="#Identifying-3-top-selling-categories-and-calculating-their-average-number-of-reviews" data-toc-modified-id="Identifying-3-top-selling-categories-and-calculating-their-average-number-of-reviews-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Identifying 3 top selling categories and calculating their average number of reviews</a></span></li><li><span><a href="#Testing-hypothesis" data-toc-modified-id="Testing-hypothesis-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Testing hypothesis</a></span></li></ul></li></ul></li><li><span><a href="#Additional-testing" data-toc-modified-id="Additional-testing-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Additional testing</a></span><ul class="toc-item"><li><span><a href="#ANOVA" data-toc-modified-id="ANOVA-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>ANOVA</a></span></li></ul></li></ul></div>

In [92]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats 
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
#option to see more data

#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

In [3]:
data = pd.read_csv('../data/amazon_co-ecommerce_sample.csv')

In [4]:
data.shape

(10000, 17)

In [5]:
data.head(2)

,uniq_id,product_name,manufacturer,price,number_available_in_stock,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category,customers_who_bought_this_item_also_bought,description,product_information,product_description,items_customers_buy_after_viewing_this_item,customer_questions_and_answers,customer_reviews,sellers
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,£3.42,5 new,15,1.0,4.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,Product Description Hornby 2014 Catalogue Box ...,Technical Details Item Weight640 g Product Dim...,Product Description Hornby 2014 Catalogue Box ...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,Does this catalogue detail all the previous Ho...,Worth Buying For The Pictures Alone (As Ever) ...,"{""seller""=>[{""Seller_name_1""=>""Amazon.co.uk"", ..."
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,£16.99,NaN,2,1.0,4.5 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Christmas-Holiday-Expr...,Size Name:Large FunkyBuys® Large Christmas Hol...,Technical Details Manufacturer recommended age...,Size Name:Large FunkyBuys® Large Christmas Hol...,http://www.amazon.co.uk/Christmas-Holiday-Expr...,can you turn off sounds // hi no you cant turn...,Four Stars // 4.0 // 18 Dec. 2015 // By\n \...,"{""seller""=>{""Seller_name_1""=>""UHD WHOLESALE"", ..."

## Cleaning data

### Missing values

In [6]:
#checking missing values

percent_missing = data.isnull().sum() * 100 / len(data)
percent_missing.sort_values(ascending=False)

customer_questions_and_answers                 90.86
sellers                                        30.82
items_customers_buy_after_viewing_this_item    30.65
number_available_in_stock                      25.00
price                                          14.35
customers_who_bought_this_item_also_bought     10.62
number_of_answered_questions                    7.65
amazon_category_and_sub_category                6.90
description                                     6.51
product_description                             6.51
product_information                             0.58
customer_reviews                                0.21
average_review_rating                           0.18
number_of_reviews                               0.18
manufacturer                                    0.07
product_name                                    0.00
uniq_id                                         0.00
dtype: float64

#### Deleting columns with more than 20% missing values

In [7]:
missing_value_df = pd.DataFrame({'column_name': data.columns,
                                 'percent_missing': percent_missing})

df_missing_20 = missing_value_df.loc[missing_value_df.percent_missing > 20]

col_drop = df_missing_20.column_name

for col in col_drop:
    data = data.drop(col, axis=1)

In [8]:
data.shape

(10000, 13)

In [9]:
percent_missing = data.isnull().sum() * 100 / len(data)
percent_missing.sort_values(ascending=False)

price                                         14.35
customers_who_bought_this_item_also_bought    10.62
number_of_answered_questions                   7.65
amazon_category_and_sub_category               6.90
product_description                            6.51
description                                    6.51
product_information                            0.58
customer_reviews                               0.21
average_review_rating                          0.18
number_of_reviews                              0.18
manufacturer                                   0.07
product_name                                   0.00
uniq_id                                        0.00
dtype: float64

#### Filtering only necessary columns

In [10]:
df = data.loc[:,['uniq_id', 'product_name', 'manufacturer', 'price', 'number_of_reviews',
       'number_of_answered_questions', 'average_review_rating', 'amazon_category_and_sub_category']]

In [11]:
df.shape

(10000, 8)

#### Deleting rows that have null values

In [12]:
#how=any for any NaN to delete rows

df.dropna(axis=0, how='any', inplace=True)

In [13]:
df.shape

(7366, 8)

### Cleaning price

In [14]:
df.price.value_counts().head()

£9.99     158
£4.99     126
£14.99    117
£12.99    111
£5.99     108
Name: price, dtype: int64

#### Deleting pound symbol

In [15]:
df['price'] = df['price'].str.replace('£', '')

#### Deleting comma from the price

In [16]:
df['price'] = df['price'].str.replace(',', '')

#### Converting double prices to average price

In [17]:
#splitting double prices to two columns

df[['price1', 'price2']] = df.price.str.split(' - ', expand = True)

In [18]:
#checking only the prices with -

df.loc[df['price'].str.contains('-')].head()

,uniq_id,product_name,manufacturer,price,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category,price1,price2
1808,e429e677677a754741ef6c75141cb4f2,TAVERN WENCH ADULT FANCY DRESS COSTUME LADIES ...,Sancto,22.39 - 41.23,6,1.0,4.3 out of 5 stars,Fancy Dress > Accessories > Sets & Kits,22.39,41.23
1814,52de34eff5c983e74c2cd3be60bb76cf,HEAVY FABRIC CARDINAL FANCY DRESS COSTUME MENS...,Sancto,25.34 - 56.44,5,3.0,4.6 out of 5 stars,Fancy Dress > Costumes > Adults,25.34,56.44
1837,6fdbfde4f2bc42a4671164f418066ca2,Mr Incredible - Adult Fancy Dress Costume,RUBBIES FRANCE,39.94 - 76.46,15,1.0,4.7 out of 5 stars,Fancy Dress > Accessories > Sets & Kits,39.94,76.46
3178,58f68b5d440489e0582a1e40ebd3fac0,MEN'S HORROR FILM SCREAMER HALLOWEEN FANCY DRE...,Wicked,9.95 - 16.95,1,2.0,5.0 out of 5 stars,Fancy Dress > Costumes > Adults,9.95,16.95
3235,cb7e11d70bebee92013e45699700fc39,Smiffy's Roman Warrior Deluxe Costume,Smiffy's,23.94 - 46.50,4,1.0,4.3 out of 5 stars,Fancy Dress > Costumes,23.94,46.50

In [19]:
#function to change column to numeric

def price_to_numeric(x):
    df[x] = pd.to_numeric(df[x])

In [20]:
#changing types to numeric to be able to calculate mean

price_to_numeric('price1')
price_to_numeric('price2')

In [21]:
#checking the type

type(df.price1[0])

numpy.float64

In [22]:
#creating new column with final prices: apply mean for the rows with double price

df['new_price'] = np.where(df['price2'].notnull(), (df['price1']+df['price2'])/2, df['price1'])

In [23]:
#Deleting additional columns, leaving one clean price

df.drop(['price', 'price1', 'price2'], axis=1, inplace=True)

In [24]:
df.head()

,uniq_id,product_name,manufacturer,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category,new_price
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,15,1.0,4.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,3.42
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,2,1.0,4.5 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,16.99
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,ccf,17,2.0,3.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,9.99
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,Hornby,1,2.0,5.0 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,39.99
4,e33a9adeed5f36840ccc227db4682a36,Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...,Hornby,3,2.0,4.7 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,32.19

#### Converting price to numeric

In [25]:
price_to_numeric('new_price')

In [26]:
type(df['new_price'][0])

numpy.float64

### Cleaning average review column

In [27]:
df.average_review_rating.value_counts()

5.0 out of 5 stars    3793
4.0 out of 5 stars     957
4.5 out of 5 stars     523
4.8 out of 5 stars     418
4.7 out of 5 stars     393
4.3 out of 5 stars     305
4.6 out of 5 stars     297
4.4 out of 5 stars     220
4.9 out of 5 stars     168
4.2 out of 5 stars     163
4.1 out of 5 stars     115
3.9 out of 5 stars       5
3.5 out of 5 stars       2
3.3 out of 5 stars       2
3.6 out of 5 stars       2
2.3 out of 5 stars       1
3.0 out of 5 stars       1
3.7 out of 5 stars       1
Name: average_review_rating, dtype: int64

In [28]:
#extracting only the evaluation from the string

df['ave_review_rating'] = df.average_review_rating.str.extract('(\d+\.?\d+)', expand=False)

In [29]:
#converting to numeric

price_to_numeric('ave_review_rating')

In [30]:
type(df['ave_review_rating'][0])

numpy.float64

In [31]:
#deleting old column

df.drop('average_review_rating', axis=1, inplace=True)

## Understanding and manipulating data

### Renaming columns

In [32]:
colnames = ['uniq_id', 'product_name', 'manufacturer', 'num_reviews',
       'num_answ_questions', 'cat_and_subcat', 'price', 'ave_review_rating']

In [33]:
df.columns=colnames

In [34]:
df.head()

,uniq_id,product_name,manufacturer,num_reviews,num_answ_questions,cat_and_subcat,price,ave_review_rating
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,15,1.0,Hobbies > Model Trains & Railway Sets > Rail V...,3.42,4.9
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,2,1.0,Hobbies > Model Trains & Railway Sets > Rail V...,16.99,4.5
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,ccf,17,2.0,Hobbies > Model Trains & Railway Sets > Rail V...,9.99,3.9
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,Hornby,1,2.0,Hobbies > Model Trains & Railway Sets > Rail V...,39.99,5.0
4,e33a9adeed5f36840ccc227db4682a36,Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...,Hornby,3,2.0,Hobbies > Model Trains & Railway Sets > Rail V...,32.19,4.7

### Checking values per column

#### How many different products?

In [35]:
len(df.product_name.unique())

#almost all products in the dataset are different

7341

#### How many different manufacturers?

In [36]:
print(len(df.manufacturer.unique()))
print(df.manufacturer.value_counts())

#could do some analysis per manufacturers (take top 10 or smth)

2089
Oxford Diecast        145
Disney                128
The Puppet Company     95
Star Wars              87
Playmobil              80
                     ...
Copag                   1
Burger Boss             1
i.LifeUK                1
Topixo                  1
Palmers                 1
Name: manufacturer, Length: 2089, dtype: int64

#### How many different categories?

In [37]:
print(len(df.cat_and_subcat.unique()))
print(df.cat_and_subcat.value_counts())

#will split to main and sub categories

232
Die-Cast & Toy Vehicles > Toy Vehicles & Accessories > Scaled Models > Vehicles    732
Figures & Playsets > Science Fiction & Fantasy                                     340
Characters & Brands > Disney > Toys                                                272
Arts & Crafts > Children's Craft Kits > Bead Art & Jewellery-Making                267
Party Supplies > Banners, Stickers & Confetti > Banners                            256
                                                                                  ...
Supporters' Gear > Football > Memorabilia & Collectibles                             1
Puppets & Puppet Theatres > Accessories                                              1
Pens, Pencils & Writing Supplies > Markers & Highlighters > Art Markers              1
Men > Tops & T-Shirts > T-Shirts                                                     1
Pretend Play > Play Tools                                                            1
Name: cat_and_subcat, Length: 232, dtype: int64

#### How many different average reviews?

In [38]:
print(len(df.ave_review_rating.unique()))
print(df.ave_review_rating.value_counts())

#all reviews out of 5, can delete this part to have a numeric column

18
5.0    3793
4.0     957
4.5     523
4.8     418
4.7     393
4.3     305
4.6     297
4.4     220
4.9     168
4.2     163
4.1     115
3.9       5
3.3       2
3.6       2
3.5       2
3.0       1
2.3       1
3.7       1
Name: ave_review_rating, dtype: int64

### Splitting to main and sub categories

In [39]:
df[['main_cat', 'sub_cat1', 'sub_cat2', 'sub_cat3', 'sub_cat4']] = df.cat_and_subcat.str.split(' > ', expand = True)

In [40]:
df.head(3)

,uniq_id,product_name,manufacturer,num_reviews,num_answ_questions,cat_and_subcat,price,ave_review_rating,main_cat,sub_cat1,sub_cat2,sub_cat3,sub_cat4
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,15,1.0,Hobbies > Model Trains & Railway Sets > Rail V...,3.42,4.9,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,None
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,2,1.0,Hobbies > Model Trains & Railway Sets > Rail V...,16.99,4.5,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,None
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,ccf,17,2.0,Hobbies > Model Trains & Railway Sets > Rail V...,9.99,3.9,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,None

In [41]:
#deleting old column

df.drop('cat_and_subcat', axis=1, inplace=True)

In [42]:
df.head(2)

,uniq_id,product_name,manufacturer,num_reviews,num_answ_questions,price,ave_review_rating,main_cat,sub_cat1,sub_cat2,sub_cat3,sub_cat4
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,15,1.0,3.42,4.9,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,None
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,2,1.0,16.99,4.5,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,None

### Changing types of columns (final check)

In [43]:
df.info()

#only need to change num:reviews to numeric

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7366 entries, 0 to 9999
Data columns (total 12 columns):
uniq_id               7366 non-null object
product_name          7366 non-null object
manufacturer          7366 non-null object
num_reviews           7366 non-null object
num_answ_questions    7366 non-null float64
price                 7366 non-null float64
ave_review_rating     7366 non-null float64
main_cat              7366 non-null object
sub_cat1              7366 non-null object
sub_cat2              4278 non-null object
sub_cat3              1156 non-null object
sub_cat4              75 non-null object
dtypes: float64(3), object(9)
memory usage: 1.0+ MB

In [44]:
#deleting comma from number of reviews

df['num_reviews'] = df['num_reviews'].str.replace(',', '')

In [45]:
#converting to numeric

price_to_numeric('num_reviews')

In [46]:
df.info()

#now all numeric columns have a correct type

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7366 entries, 0 to 9999
Data columns (total 12 columns):
uniq_id               7366 non-null object
product_name          7366 non-null object
manufacturer          7366 non-null object
num_reviews           7366 non-null int64
num_answ_questions    7366 non-null float64
price                 7366 non-null float64
ave_review_rating     7366 non-null float64
main_cat              7366 non-null object
sub_cat1              7366 non-null object
sub_cat2              4278 non-null object
sub_cat3              1156 non-null object
sub_cat4              75 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 1.0+ MB

## Hypothesis testing

### Testing average price in 3 top categories

#### Identifying 3 top selling categories and calculating their ave prices

In [49]:
df.main_cat.value_counts()

Hobbies                             1151
Die-Cast & Toy Vehicles             1006
Figures & Playsets                   843
Games                                751
Characters & Brands                  695
Arts & Crafts                        623
Party Supplies                       587
Fancy Dress                          484
Sports Toys & Outdoor                323
Dolls & Accessories                  264
Puppets & Puppet Theatres            235
Jigsaws & Puzzles                    218
Baby & Toddler Toys                   72
Pretend Play                          38
Musical Toy Instruments               12
Novelty & Special Use                 10
Pens, Pencils & Writing Supplies       7
Home Accessories                       5
Office Supplies                        5
Bags                                   4
Electronic Toys                        3
Educational Toys                       3
Gardening                              3
Cooking & Dining                       3
Worlds Apart                           3
Women                                  2
Medication & Remedies                  2
Dogs                                   2
Men                                    1
Jams, Honey & Spreads                  1
Sex & Sensuality                       1
Sweets, Chocolate & Gum                1
Novelty Jewellery                      1
Laundry, Storage & Organisation        1
Storage, Cleaning & Ring Sizers        1
Bedding & Linens                       1
Indoor Lighting                        1
Camping & Hiking                       1
Supporters' Gear                       1
Handbags & Shoulder Bags               1
Name: main_cat, dtype: int64

In [78]:
sales_top = ['Hobbies', 'Die-Cast & Toy Vehicles', 'Figures & Playsets']

df_main_cat = df[df.main_cat.isin(sales_top)].groupby('main_cat')['price'].mean()
df_main_cat

main_cat
Die-Cast & Toy Vehicles    26.973907
Figures & Playsets         27.133132
Hobbies                    36.721633
Name: price, dtype: float64

It looks like the averages are similar, maybe only Hobbies has a higher average. Let's investigate.

#### Testing hypothesis

First check Hobbie with Die-Cast & Toy Vehicles:

In [79]:
#H0: ave price in Hobbies and Die-Cast & Toy Vehicles are not statisticaly different

#filtering hobbies 

hobbies = df.loc[df.main_cat == 'Hobbies']

alpha = 0.05
r = stats.ttest_1samp(hobbies['price'], df_main_cat[0])
print(r)
print(r.pvalue < alpha) 

if (r.pvalue < alpha):
    print("We reject H0, the average price in these two groups is significantly different")
else: 
    print('We accept H0')

Ttest_1sampResult(statistic=3.5335734681420066, pvalue=0.00042625255609518163)
True
We reject H0, the average price in these two groups is significantly different

Now check Hobbies and Figures & Playsets:

In [80]:
alpha = 0.05
r = stats.ttest_1samp(hobbies['price'], df_main_cat[1])
print(r)
print(r.pvalue < alpha) 

if (r.pvalue < alpha):
    print("We reject H0, the average price in these two groups is significantly different")
else: 
    print('We accept H0')

Ttest_1sampResult(statistic=3.475853997486181, pvalue=0.0005282169127201912)
True
We reject H0, the average price in these two groups is significantly different

We now know that there is a significant difference of the average price in Hobbies, what about between Die-Cast & Toy Vehicles and Figures & Playsets:

In [81]:
#filtering Die-Cast & Toy Vehicles 

die_cast = df.loc[df.main_cat == 'Die-Cast & Toy Vehicles']

alpha = 0.05
r = stats.ttest_1samp(die_cast['price'], df_main_cat[1])
print(r)
print(r.pvalue < alpha) 

if (r.pvalue < alpha):
    print("We reject H0, the average price in these two groups is significantly different")
else: 
    print('We accept H0')

Ttest_1sampResult(statistic=-0.11235934392984534, pvalue=0.9105609275513958)
False
We accept H0

There is no significant difference between these two groups. 

We now know that out of 3 most selling categories, only Hobbies (the top one), has a significantly different average price.

### Testing ave number of reviews in 3 top categories

#### Identifying 3 top selling categories and calculating their average number of reviews

In [49]:
df.main_cat.value_counts()

Hobbies                             1151
Die-Cast & Toy Vehicles             1006
Figures & Playsets                   843
Games                                751
Characters & Brands                  695
Arts & Crafts                        623
Party Supplies                       587
Fancy Dress                          484
Sports Toys & Outdoor                323
Dolls & Accessories                  264
Puppets & Puppet Theatres            235
Jigsaws & Puzzles                    218
Baby & Toddler Toys                   72
Pretend Play                          38
Musical Toy Instruments               12
Novelty & Special Use                 10
Pens, Pencils & Writing Supplies       7
Home Accessories                       5
Office Supplies                        5
Bags                                   4
Electronic Toys                        3
Educational Toys                       3
Gardening                              3
Cooking & Dining                       3
Worlds Apart                           3
Women                                  2
Medication & Remedies                  2
Dogs                                   2
Men                                    1
Jams, Honey & Spreads                  1
Sex & Sensuality                       1
Sweets, Chocolate & Gum                1
Novelty Jewellery                      1
Laundry, Storage & Organisation        1
Storage, Cleaning & Ring Sizers        1
Bedding & Linens                       1
Indoor Lighting                        1
Camping & Hiking                       1
Supporters' Gear                       1
Handbags & Shoulder Bags               1
Name: main_cat, dtype: int64

In [84]:
sales_top = ['Hobbies', 'Die-Cast & Toy Vehicles', 'Figures & Playsets']

df_main_cat = df[df.main_cat.isin(sales_top)].groupby('main_cat')['num_reviews'].mean()
df_main_cat

main_cat
Die-Cast & Toy Vehicles    4.728628
Figures & Playsets         7.354686
Hobbies                    4.503910
Name: num_reviews, dtype: float64

It looks like the averages are similar, maybe only Figures & Playsets has a higher average. Let's investigate.

#### Testing hypothesis

First check Hobbie with Die-Cast & Toy Vehicles:

In [85]:
#H0: ave number of reviews in Hobbies and Die-Cast & Toy Vehicles are not statisticaly different

alpha = 0.05
r = stats.ttest_1samp(hobbies['num_reviews'], df_main_cat[0])
print(r)
print(r.pvalue < alpha) 

if (r.pvalue < alpha):
    print("We reject H0, the average number of reviews in these two groups is significantly different")
else: 
    print('We accept H0')

Ttest_1sampResult(statistic=-0.6447855984240352, pvalue=0.5191947349436974)
False
We accept H0

Our assumption was correct, there is no significant difference between the numbers of reviews in Hobbies and Die-Cast & Toy Vehicles

Let's investigate Hobbies and Figures & Playsets:

In [86]:
#H0: ave number of reviews in Hobbies and Figures & Playsets are not statisticaly different

alpha = 0.05
r = stats.ttest_1samp(hobbies['num_reviews'], df_main_cat[1])
print(r)
print(r.pvalue < alpha) 

if (r.pvalue < alpha):
    print("We reject H0, the average number of reviews in these two groups is significantly different")
else: 
    print('We accept H0')

Ttest_1sampResult(statistic=-8.179738653689732, pvalue=7.467243750014787e-16)
True
We reject H0, the average number of reviews in these two groups is significantly different

We can see that the average is significantly different between these two groups. What about Die-Cast & Toy Vehicles and Figures & Playsets:

In [87]:
#filtering Die-Cast & Toy Vehicles 

die_cast = df.loc[df.main_cat == 'Die-Cast & Toy Vehicles']

alpha = 0.05
r = stats.ttest_1samp(die_cast['price'], df_main_cat[1])
print(r)
print(r.pvalue < alpha) 

if (r.pvalue < alpha):
    print("We reject H0, the average price in these two groups is significantly different")
else: 
    print('We accept H0')

Ttest_1sampResult(statistic=13.844567374876727, pvalue=5.036857276284809e-40)
True
We reject H0, the average price in these two groups is significantly different

The average number of reviews is also significantly different between Die-Cast & Toy Vehicles and Figures & Playsets.

We now know that out of 3 most selling categories, only Figures & Playsets, has a significantly different average number of reviews.

## Additional testing

### ANOVA

In [90]:
#adding column with labels

df['rating_label'] = df['ave_review_rating'].apply(lambda x: 'good' if x > 4 else ('medium' if (x < 4) & (x > 3) else 'low'))

In [103]:
#adding column for transaction (in all cases 1)

df['sale'] = 1

In [105]:
#conducting ANOVA

model = ols('df.sale ~ C(df["rating_label"])', data=df).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

#Sale by rating label

                             sum_sq      df        F    PR(>F)
C(df["rating_label"])  1.876863e-28     2.0  9.34902  0.000088
Residual               7.390798e-26  7363.0      NaN       NaN

In [106]:
print(anova_table['PR(>F)'][0] < 0.05)

True

The p value is lower than 0.05 so it's statistically significant, the number of sales is different if the rating label is different

In [ ]:
#predict which category will have best revies. But need to know what a good review depend on: price? answered questions?

In [109]:
df.corr()

,num_reviews,num_answ_questions,price,ave_review_rating,sale
num_reviews,1.000000,0.112026,-0.029144,-0.112962,NaN
num_answ_questions,0.112026,1.000000,0.003391,-0.028188,NaN
price,-0.029144,0.003391,1.000000,0.021314,NaN
ave_review_rating,-0.112962,-0.028188,0.021314,1.000000,NaN
sale,NaN,NaN,NaN,NaN,NaN